# Exercise - P0W1D3AM : Conditional & Looping

---
## A. Section 1 - IF

**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [ ]:
# Code in here
...

a lebih kecil dari b
kondisi terpenuhi
program selesai

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [ ]:
# Code in here
...

a lebih besar dari b

---
## B. Section 2 - IF - ELSE

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [ ]:
# Code in here
...

a tidak sama dengan b

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

In [ ]:
# Code in here
...

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [ ]:
# Cara 1 (biasa)

# Code in here
...

angka_ganjil berbeda dengan angka_genap

In [ ]:
# Cara 2 - Ternary (satu baris)

# Code in here
...

'angka_ganjil berbeda dengan angka_genap'

---
## C. Section 3 - IF - ELIF - ELSE

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [ ]:
# Dengan IF-ELIF-ELSE

# Code in here
...

a sama dengan b

In [ ]:
# Dengan 3 IF

# Code in here
...

a sama dengan b

**NOMOR 7**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000,- dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000,- dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000,-

Asumsi : Uang yang dimiliki bernilai Rp 20.000,-

In [ ]:
uang = 20000

In [ ]:
# Cara 1

# Code in here
...

nasi goreng

In [ ]:
# Cara 2

# Code in here
...

nasi goreng

In [3]:
# Cara 3

# assign variable uang
uang = 20000

#conditional untuk memilih menu makanan
if uang > 15000:
  print("nasi goreng")
elif uang >= 10000:
  print("ketoprak")
elif uang >= 5000:
  print("batagor")
elif uang < 5000:
  print("Cilok")
else:
  print("es teh manis")
# Code in here
...

nasi goreng

Ellipsis

In [ ]:
#cara ekslusif kalo mau jajan

# assign variale
uang = 20000

#conditional untk memilih menu makanan
if uang >= 15000:
  print("nasi goreng")
  uang = uang - 15000

if uang >= 10000:
  print("Ketoprak")
  uang = uang - 15000
if uang >= 5000:
  print("batagor")
  uang = uang - 15000
if uang < 5000 and uang != 0:
  print("cilok")
  uang = uang - 5000
if uang == 0:
  print("uang habis")

**NOMOR 8 (NESTED IF)**

Sebuah toko online bernama `Berlian Clothing` menjual produk berupa baju dan celana. Toko tersebut mengadakan promo dengan skema :

| Jumlah Pembelian Baju | Jumlah Pembelian Celana | Diskon |
| --- | --- | --- |
| > 5 | > 5 | 15 % |
| > 5 | 1 - 5 | 10 % |
| > 5 | 0 | 5 % |
| 1 - 5 | > 3 | 7 % |
| 1 - 5 | 0 - 3 | 3 % |

Jika Anda berencana untuk membeli baju sebanyak 6 buah dan celana sebanyak 1 buah, promo apa yang akan Anda dapatkan ?

*Asumsi : Jumlah Pembelian Baju dan Jumlah Pembelian Celana tidak mungkin bernilai `negatif`.*

In [ ]:
# Cara 1

#assign beli baju dan celana berapa banyak
baju = 4
celana = 5



#conditional untuk cek dapet diskon berapa persen

if baju > 5 and celana > 5:
  print("Diskon 15%")
elif baju > 5 and 1 <= celana <= 5:
  print("diskon 10%")
elif baju > 5 and celana == 0:
  print("diskon 5%")
elif 1 <= baju <= 5 and celana > 3:
  print("diskon 7%")
elif 1 <= baju <= 5 and celana == 0:
  print("diskon 3%")
else:
  print("Tidak ada diskon")

Diskon 10 %

In [ ]:
# Cara 2 - nested if

baju = 6
celana = 1

#mengelompokan kondisi jumlah baju
#kondisi jika beli baju lebih dari 5
if baju > 5 :
  #kondisi jika beli celana > 5
  if celana > 5 :
      print("Diskon 15%")
  elif 1 <= celana <= 5 :
      print("Diskon 10%")
  elif celana == 0 :
      print("Diskon 5%")

#kondisi jika baju antara 1 -5
elif 1 <= baju <= 5:
  if celana > 3 :
      print("Diskon 7%")
  elif 1 <= celana <= 3 :
      print("Diskon 3%")

#jika tidak termasuk skema diskon
else:
  print("Tidak ada diskon")
# Code in here
...

Diskon 10 %

---
## D. Section 4 - Looping

**NOMOR 9**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [4]:
# Cara 1 - Tanpa Looping
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

Ellipsis

In [6]:
# Cara 2 - Looping dengan For
for i in range(5):
  print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

Ellipsis

In [13]:
for i in range(5):
  print(i,"hello", end=" ")

0 hello 1 hello 2 hello 3 hello 4 hello

In [9]:
# Cara 3 - Looping dengan While

#inisiasi variabel
i = 0

#looping dengan while
while i < 5:
  print(i,"hello")
  i += 1

0 hello
1 hello
2 hello
3 hello
4 hello

Ellipsis

**NOMOR 10**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [12]:
# Sintaks sederhana
for i in range (6):
  print(i, end=" ")
# Code in here
...

0 1 2 3 4 5

Ellipsis

In [1]:
# Sintaks lengkap
for i in range (0,6,1):
  print(i, end=" ")
# Code in here
...

0 1 2 3 4 5

Ellipsis

In [2]:
# Dari besar ke kecil - Cara 1
for i in range (5,-1,-1):
  print(i, end=" ")
# Code in here
...

5 4 3 2 1 0

Ellipsis

In [3]:
# Dari besar ke kecil - Cara 2
for i in reversed(range(0,6,1)):
  print(i, end=" ")
# Code in here
...

5 4 3 2 1 0

Ellipsis

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [ ]:
# Code in here
for i in range(3,6):
  print(i, end=" ")

3 4 5

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [4]:
# Code in here
for i in range (1,11,3):
  print(i, end=" ")
...

1 4 7 10

Ellipsis

---
## E. Section 5 - Looping + IF

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10`

*Hasil : 2 4 6 8 10*

In [5]:
# Cara 1

for i in range (1,11):
  if i % 2 == 0:
    print(i, end=" ")

2 4 6 8 10

In [7]:
# Cara 2
for i in range (1,11,1):
  if i % 2 == 0:
    print(i, end =" ")

2 4 6 8 10

In [9]:
# Cara 2
for i in range (1,11,1):
  if i % 2 != 0:
    print(i, end=" ")

#atau
for i in range(1,11,1):
  if i % 2 == 1:
    print(i, end=" ")

1 3 5 7 9 1 3 5 7 9

---
## F. Section 6 - Break & Continue

**NOMOR 14 (Break Statement)**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [10]:
# Code in here
for i in range(1,11):
  if i == 8:
    break
  print(i, end=" ")
...

1 2 3 4 5 6 7

Ellipsis

In [15]:
i = 0
while i < 10:
  i += 1
  if i == 8:
    break
  print(i, end=" ")

1 2 3 4 5 6 7

**NOMOR 15 (Continue Statement)**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `5` dan angka tersebut bukan angka `3` dan masing-masing element dikalikan dengan angka `100`

Hasil :
```
Angka : 1
Hasil Perkalian : 100
Angka : 2
Hasil Perkalian : 200
Angka : 4
Hasil Perkalian : 400
Angka : 5
Hasil Perkalian : 500
```

In [16]:
# Cara 1
for i in range (1,6):
  if i == 3 :
    continue
  print("Angka :", i)
  print("Hasil Perkalian :", i*100)
# Code in here
...

Angka : 1
Hasil Perkalian : 100
Angka : 2
Hasil Perkalian : 200
Angka : 4
Hasil Perkalian : 400
Angka : 5
Hasil Perkalian : 500

Ellipsis

In [ ]:
# Cara 2 - Dengan menggunakan Continue

# Code in here
...

Angka :  1
Hasil Perkalian :  100
Angka :  2
Hasil Perkalian :  200
Angka :  4
Hasil Perkalian :  400
Angka :  5
Hasil Perkalian :  500

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini dengan kondisi jangan menampilkan apapun setelah nama `Muhammad Sumbul` :

```
daftar_nama = ["Ya'qub Qamar Ad-Din Dibiazah", "Khalid Kashmiri", "Khidir Karawita", "Ismail Ahmad Kanabawi", "Usman Abdul Jalil Sisha", 'Muhammad Sumbul"]
```

In [ ]:
from IPython.display import HTML

HTML('<iframe width="1680" height="945" src="https://www.youtube.com/embed/O08XTXJSOtI?si=uYOYj8PJRlYh9XN-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>')

In [22]:
# Tampilkan semua menggunakan looping
daftar_nama = ["Ya'qub Qamar Ad-Din Dibiazah", "Khalid Kashmiri", "Khidir Karawita", "Muhammad Sumbul", "Ismail Ahmad Kanabawi", "Usman Abdul Jalil Sisha"]

# Code in here
...

Ellipsis

In [25]:
# Tambah index dalam hasil looping
for index,kucing in enumerate (daftar_nama):
  print(index,kucing)
# Code in here
...

0 Ya'qub Qamar Ad-Din Dibiazah
1 Khalid Kashmiri
2 Khidir Karawita
3 Muhammad Sumbul
4 Ismail Ahmad Kanabawi
5 Usman Abdul Jalil Sisha

Ellipsis

In [28]:
for kucing in daftar_nama:
  print(kucing)

Ya'qub Qamar Ad-Din Dibiazah
Khalid Kashmiri
Khidir Karawita
Muhammad Sumbul
Ismail Ahmad Kanabawi
Usman Abdul Jalil Sisha

In [27]:
# Cara 1
daftar_nama = ["Ya'qub Qamar Ad-Din Dibiazah", "Khalid Kashmiri", "Khidir Karawita", "Muhammad Sumbul", "Ismail Ahmad Kanabawi", "Usman Abdul Jalil Sisha"]

# Code in here
for kucing in daftar_nama:
  print(kucing)
  if kucing == "Muhammad Sumbul":
    break

Ya'qub Qamar Ad-Din Dibiazah
Khalid Kashmiri
Khidir Karawita
Muhammad Sumbul

In [31]:
# Cara 2 (flag) untuk menampilkan data setelah 'Muhammad Sumbul'
daftar_nama = ["Ya'qub Qamar Ad-Din Dibiazah", "Khalid Kashmiri", "Khidir Karawita", "Muhammad Sumbul", "Ismail Ahmad Kanabawi", "Usman Abdul Jalil Sisha"]


#inisiasi variable flag
flag = False

for kucing in daftar_nama:
  if kucing == "Muhammad Sumbul":
    flag = True
  if flag == True:
      print(kucing)

Muhammad Sumbul
Ismail Ahmad Kanabawi
Usman Abdul Jalil Sisha

In [32]:
import numpy as np
import pandas as pd


#bikin list random
edu = np.random.choice(['SD','SMP','SMA', 'SMK', 'D1','D3','S1','S2','S3'],30)

#create dataframe from list
df = pd.DataFrame({'education':edu})

df

   education
0         S2
1         D3
2        SMP
3         D1
4         S1
5        SMK
6        SMK
7        SMA
8         D1
9         S3
10        D3
11       SMK
12       SMP
13       SMA
14        S1
15       SMK
16       SMP
17       SMK
18       SMP
19       SMK
20       SMA
21        S2
22        D3
23        S1
24        D3
25        S1
26       SMK
27       SMK
28       SMK
29       SMA

In [35]:
education_levels = []

#looping untuk cek education level
for education in df['education']:
  if education in ['SD','SMP','SMA"']:
    education_levels.append("Basic")
  elif education in ['SMK','D1','D3']:
    education_levels.append("Medium")
  elif education in ['S1','S2','S3']:
    education_levels.append("High")
  else:
    education_levels.append("none")

df["education_levels"] = education_levels
df

   education education_levels
0         S2             High
1         D3           Medium
2        SMP            Basic
3         D1           Medium
4         S1             High
5        SMK           Medium
6        SMK           Medium
7        SMA             none
8         D1           Medium
9         S3             High
10        D3           Medium
11       SMK           Medium
12       SMP            Basic
13       SMA             none
14        S1             High
15       SMK           Medium
16       SMP            Basic
17       SMK           Medium
18       SMP            Basic
19       SMK           Medium
20       SMA             none
21        S2             High
22        D3           Medium
23        S1             High
24        D3           Medium
25        S1             High
26       SMK           Medium
27       SMK           Medium
28       SMK           Medium
29       SMA             none