Nama = Muhammad Septian Zamzani

Batch = HCK-021

# Non Grade Chalenge

## NGC 1

### Task 1

In [5]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

How many unique customer_id from above list?

In [11]:
print(f"Pada list diatas terdapat {len(set(customer_id))} nilai unik")
print(f"Yaitu : {set(customer_id )}")

Pada list diatas terdapat 12 nilai unik
Yaitu : {'A082', 'A092', 'B821', 'A901', 'B439', 'B904', 'A083', 'A005', 'A461', 'B341', 'B219', 'B818'}

### Task 2

Given list of:

Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

Use indexing so you can get this output:

a.16

b.[36, 49, 64, 81]

c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [12]:
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

In [13]:
Data[3]

16

In [14]:
Data[5:9]

[36, 49, 64, 81]

In [20]:
Data.reverse()
Data

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

### Task 3

Given a dictionary of:

provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

What python command can be use to:
a.Get list of keys available in dictionary
b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [39]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

In [30]:
provinsi.keys()

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

In [40]:

print(f"Ibu kota jawa timur dulu : {provinsi["Jawa Timur"]}")
provinsi["Jawa Timur"] = "Surabaya"
print(f"Ibu kota jawa timur sekarang : {provinsi["Jawa Timur"]}")

Ibu kota jawa timur dulu : Madiun
Ibu kota jawa timur sekarang : Surabaya

## NGC 2

### Task 1

Create a function that count the number of word in a sentence.

Instruction:

1.Create function called `number_of_word`.

2.This function takes 1 input, `sentence`.

3.Inside this function, you can utilize `.split()` method to split the sentence into list of word(s).

4.Also, `len()` function to count the element inside a list.

5.Return the number of word from the sentence.

Example:-Input: number_of_word(sentence = ’Hello World!’)
                               -Output: 2
                               
        -Input: number_of_word(sentence = ’Once Upon a Time in a faraway land’)
                               -Output: 84

In [45]:
def number_of_word(sentence):
    x = sentence.split()
    return f"Kalimat anda terdapat {len(x)} kata"

In [48]:
number_of_word("apa kabar kalian semua ")

'Kalimat anda terdapat 4 kata'

In [55]:
def number_of_word2():
    sentence = input("Masukan kalimat yang anda inginkan : ")
    x = sentence.split()
    return f"kalimat anda terdapat {len(x)} kata"

In [56]:
number_of_word2()

'kalimat anda terdapat 2 kata'

### Task 2

Instruction:

1.Create function called `find_multiples`.

2.This function takes 3 input: `start_range`, `end_range`, and `multiple`.

3.From every number within the given range, check if that number is the mutliples of `multiple`.

4.Return list of the possible multiple number(s).

Example:

-Input: find_multiple(start_range= 1, end_range= 20, multiple= 5)
-Output: [5, 10, 15, 20]

-Input: find_multiple(start_range= 1, end_range= 50, multiple= 10)
-Output: [10, 20, 30, 40, 50]5

In [64]:
def find_multiples(start_range,end_range,multiple):
    list = []
    for i in range(start_range,end_range):
        if i % multiple == 0:
            list.append(i)
    return list

In [68]:
find_multiples(start_range=20,end_range=100,multiple=5)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### Task 3

Create a function that will convert student’s grade to GPA.

Example:
-Input: Grade_Converter(convert_to='gpa', Adam=62, Faiz=91)
-Output: {'Adam': 2.5, 'Faiz': 4}

-Input: Grade_Converter(convert_to='letter_grade', Albert=90, Dwi=82, Syahdan=58, Veronica=84)
-Output: {'Albert': 'A', 'Dwi': 'B', 'Syahdan': 'D','Veronica': 'B'}

In [94]:
def grade_converter(convert_to, **data):
    results = {}  # Dictionary to store the converted results
    
    for key, value in data.items():
        # Print the original value
        print(f"{key} = {value}")

        if convert_to == 'letter_grade':
            if value > 100:
                results[key] = "Nilai tidak sesuai"
            elif 85 <= value <= 100:
                results[key] = 'A'
            elif 70 <= value < 85:
                results[key] = 'B'
            elif 60 <= value < 70:
                results[key] = 'C'
            elif 50 <= value < 60:
                results[key] = 'D'
            elif 40 <= value < 50:
                results[key] = 'E'
            else:
                results[key] = 'F'
                
        elif convert_to == 'gpa':
            if value > 100:
                results[key] = "Nilai tidak sesuai"
            elif 85 <= value <= 100:
                results[key] = 4
            elif 70 <= value < 85:
                results[key] = 3
            elif 60 <= value < 70:
                results[key] = 2.5
            elif 50 <= value < 60:
                results[key] = 2
            elif 40 <= value < 50:
                results[key] = 1.5
            else:
                results[key] = 1

    return results

In [95]:
# Convert to GPA
converted_gpas = grade_converter(convert_to='gpa', Andi=110, Baso=70)
print(converted_gpas)

# Convert to Letter Grade
converted_grades = grade_converter(convert_to='letter_grade', Andi=90, Baso=70)
print(converted_grades)

Andi = 110
Baso = 70
{'Andi': 'Nilai tidak sesuai', 'Baso': 3}
Andi = 90
Baso = 70
{'Andi': 'A', 'Baso': 'B'}

### Task 4

Fibonacci sequence is a sequence in which each number is the sum of the two preceding ones. 

Suppose we have fibonacci sequence started with:0, 1, 1, 2, 3, 5, ...

The next number should be 8 or sum of the two precedings, 3 and 5:0, 1, 1, 2, 3, 5, 8, ...Then the next number should be 13 or sum of the two precedings, 5 and 8:0, 1, 1, 2, 3, 5, 8, 13,  ...And so on.8

In [97]:
def fibonacci(*angka):
    x = 100
    while i in angka < x:
        i = angka[0]
        print(i)
fibonacci(1,2,3)

UnboundLocalError: cannot access local variable 'i' where it is not associated with a value