In [13]:
from google.oauth2 import service_account

# Use a raw string (prefix with 'r') to avoid escape character issues
SERVICE_ACCOUNT_FILE_PATH = r"C:\Users\asus\Documents\iyan nitip\json\supple-gearbox-432504-c7-857effb9baf3.json"

# Specify the desired scopes (e.g., Gmail readonly)
SCOPES = ['https://www.googleapis.com/auth/bigquery']

# Create credentials from the service account file
credentials = service_account.Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE_PATH, scopes=SCOPES)

from google.cloud import bigquery
import pandas as pd
# Initialize the client
client = bigquery.Client(credentials=credentials)

In [26]:
# put query here
query = """
SELECT*
FROM bigquery-public-data.austin_bikeshare.bikeshare_stations
LIMIT 1000
"""

# set up the query
query_job = client.query(query).to_dataframe()
query_job

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,3464,Pease Park,closed,1155 Kingsbury St,None,<NA>,None,<NA>,None,<NA>,NaN,None,9,2021-01-04 12:00:00+00:00
1,1002,6th & Navasota St.,closed,1308 W. 6th St.,None,<NA>,None,<NA>,None,<NA>,NaN,None,3,2021-01-04 12:00:00+00:00
2,1007,Lavaca & 6th,closed,601 Lavaca St.,None,<NA>,None,<NA>,None,<NA>,NaN,None,9,2021-01-04 12:00:00+00:00
3,1004,Red River & LBJ Library,closed,2322 Red River Street,None,<NA>,None,<NA>,None,<NA>,NaN,None,1,2021-01-04 12:00:00+00:00
4,1003,8th & Guadalupe,closed,800 Guadalupe St.,None,<NA>,None,<NA>,None,<NA>,NaN,None,9,2021-01-04 12:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,4048,South Congress @ Bouldin Creek,active,799 South Congress Avenue,None,32746,undetermined_parking,13,solar,40,5.0,None,9,2021-01-04 12:00:00+00:00
98,3377,MoPac Pedestrian Bridge @ Veterans Drive,active,2105 Veterans Dr.,None,16598,undetermined_parking,19,solar,55,5.0,parkland in ROW/eastment,9,2021-01-04 12:00:00+00:00
99,3794,Dean Keeton & Speedway,active,180 E. Dean Keeton St.,None,32670,undetermined_parking,19,solar,55,5.0,None,9,2021-01-04 12:00:00+00:00
100,3795,Dean Keeton & Whitis,active,300 W. Dean Keeton St.,None,32671,undetermined_parking,19,solar,55,5.0,None,9,2021-01-04 12:00:00+00:00
101,3797,21st & University,active,2007 University Ave.,None,32674,undetermined_parking,19,solar,55,5.0,ROW might belong to UT,9,2021-01-04 12:00:00+00:00

In [27]:
# put query here
query = """
SELECT*
FROM bigquery-public-data.austin_bikeshare.bikeshare_trips
LIMIT 1000
"""

# set up the query
query_job = client.query(query).to_dataframe()
query_job

,trip_id,subscriber_type,bike_id,bike_type,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,29745510,Local365,21491,electric,2023-05-28 14:12:12+00:00,3685,9th/Henderson,3685,2nd/Congress,6
1,29678294,Local365,19645,electric,2023-05-21 08:53:19+00:00,7187,South Congress/Mary,7187,Veterans/Atlanta @ MoPac Ped Bridge,17
2,29577338,Local365,21514,electric,2023-05-09 16:29:36+00:00,7131,13th/Trinity @ Waterloo Greenway,7131,South Congress/Mary,16
3,29512432,Local365,21528,electric,2023-05-03 13:23:02+00:00,7187,South Congress/Mary,7187,12th/San Jacinto @ State Capitol Visitors Garage,10
4,29774671,Local31,19645,electric,2023-05-31 13:10:04+00:00,3794,4th/Sabine,3794,12th/San Jacinto @ State Capitol Visitors Garage,6
...,...,...,...,...,...,...,...,...,...,...
995,29676342,Explorer,21659,electric,2023-05-20 20:45:57+00:00,7186,One Texas Center,7186,Plaza Saltillo,30
996,29676491,Single Trip (Pay-as-you-ride),21720,electric,2023-05-20 20:58:01+00:00,4062,Lakeshore/Pleasant Valley,4062,Nash Hernandez/East @ RBJ South,18
997,29679199,Explorer,22511,electric,2023-05-21 10:58:38+00:00,7187,South Congress/Mary,7187,South Congress/Elizabeth,22
998,29679800,Local365,18329,electric,2023-05-21 12:03:07+00:00,4059,Nash Hernandez/East @ RBJ South,4059,East 6th/Medina,5
999,29681134,Local365,18696,electric,2023-05-21 13:54:52+00:00,3294,6th/Lavaca,3294,Red River/Cesar Chavez @ The Fairmont,9

In [24]:
query = """
SELECT 
    COUNT(*) as total_table
FROM bigquery-public-data.austin_bikeshare.INFORMATION_SCHEMA.TABLES;
"""

# set up the query
query_job = client.query(query).to_dataframe()
query_job

   total_table
0            2

In [32]:
query="""
SELECT 
COUNT(*) AS string_column
FROM 
    bigquery-public-data.austin_bikeshare.INFORMATION_SCHEMA.COLUMNS
WHERE 
    table_name = 'bikeshare_stations'
    AND data_type = 'STRING';
"""
query_job = client.query(query).to_dataframe()
query_job

   string_column
0              7

In [35]:
query="""
SELECT *
FROM 
    bigquery-public-data.austin_bikeshare.bikeshare_trips
WHERE 
    bike_id IS NOT NULL
    AND duration_minutes > 1000
"""
query_job = client.query(query).to_dataframe()
query_job

,trip_id,subscriber_type,bike_id,bike_type,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,29731917,24 Hour Walk Up Pass,21457,electric,2023-05-27 10:47:04+00:00,3791,Lake Austin/Enfield,3791,Lake Austin/Enfield,1407
1,29731920,24 Hour Walk Up Pass,21803,electric,2023-05-27 10:47:20+00:00,3791,Lake Austin/Enfield,3791,Lake Austin/Enfield,1407
2,29554935,Pay-as-you-ride,21454,electric,2023-05-07 11:44:09+00:00,4048,South Congress @ Bouldin Creek,4048,South Congress @ Bouldin Creek,1231
3,30391277,Local31,23277,electric,2023-07-30 11:23:37+00:00,3794,4th/Sabine,3794,23rd/Pearl,1281
4,30163408,24 Hour Walk Up Pass,2887,classic,2023-07-08 23:42:32+00:00,3794,4th/Sabine,3794,Electric Drive/Sandra Muraida Way @ Pfluger Pe...,4263
...,...,...,...,...,...,...,...,...,...,...
3718,27496076,Student Membership,18909,electric,2022-08-17 14:44:33+00:00,7188,22nd/Pearl,7189,28th/Rio,1084
3719,27866791,Student Membership,19085,electric,2022-09-17 12:56:13+00:00,7188,22nd/Pearl,7189,28th/Rio,1198
3720,26960908,Student Membership,610,classic,2022-06-19 16:11:45+00:00,7189,28th/Rio,7189,28th/Rio,1133
3721,26996194,Student Membership,21799,electric,2022-06-23 16:44:08+00:00,7189,28th/Rio,7189,28th/Rio,1019
3722,27357116,Student Membership,22196,electric,2022-08-01 14:09:43+00:00,7189,28th/Rio,7189,28th/Rio,1138

In [44]:
query="""
SELECT *
FROM 
    bigquery-public-data.austin_bikeshare.bikeshare_trips
WHERE 
    subscriber_type = 'Walk Up'
    AND end_station_name = 'Stolen'
"""
query_job = client.query(query).to_dataframe()
query_job

,trip_id,subscriber_type,bike_id,bike_type,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,16898448,Walk Up,1857,classic,2018-03-18 22:51:20+00:00,2501,5th & Bowie,None,Stolen,3806
1,16863172,Walk Up,1795,classic,2018-03-14 21:23:26+00:00,2542,Plaza Saltillo,None,Stolen,2529
2,17151360,Walk Up,1899,classic,2018-04-21 15:29:10+00:00,2563,Davis at Rainey Street,None,Stolen,4302
3,13555129,Walk Up,578,classic,2017-01-27 01:35:26+00:00,2498,Convention Center / 4th St. @ MetroRail,None,Stolen,5189
4,13564817,Walk Up,393,classic,2017-01-28 04:57:28+00:00,2561,State Capitol Visitors Garage @ San Jacinto & ...,None,Stolen,4833
5,11712091,Walk Up,327,classic,2016-09-02 06:37:15+00:00,2565,Trinity & 6th Street,None,Stolen,6118
6,11714202,Walk Up,122,classic,2016-09-02 09:00:56+00:00,2565,Trinity & 6th Street,None,Stolen,5974
7,13857913,Walk Up,135,classic,2017-02-26 14:32:45+00:00,2566,Pfluger Bridge @ W 2nd Street,None,Stolen,1404